.number-card{
    min-height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.number-card>ion-icon{
    font-size: 60px;
}
.number-card>ion-text{
    padding-top:10px;
    font-size:16px;
}